   <div class="paddingTL">
        <div class="col-md-6">
          <div class="tile">
            <div>
              <h3 class="tile-title">Add New Member</h3>
              {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
              {{/if}}
                 <p id="msgerror" style="color:red"></p>
            </div>            
            <div class="tile-body">
              <form class="form-horizontal" method="POST" action="/newMember">
               <div><input type="hidden" name="groupid" value="{{data._id}}"></div>
              <div><input type="hidden" name="groupname" value="{{data.groupname}}"></div>
                <div class="form-group row">
                  <label class="control-label col-md-3">Full Name</label>
                  <div class="col-md-7">
                    <input class="form-control col-md-12" type="text"  placeholder="Enter full name" value="" name="fullname" id="fullname" autocomplete="off" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-3">Email</label>
                  <div class="col-md-7">
                    <input type="text" class="form-control col-md-12" rows="4"   value="" placeholder="Enter your email" id="email" autocomplete="off"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{1,3}$" name="email" required data-msg="Please enter a valid email address" required>
                  </div>
                </div>
               <div class="form-group row">
                  <label class="control-label col-md-3">Mobile</label>
                  <div class="col-md-7">
                    <input type="text" class="form-control col-md-12" rows="4" onkeypress="return isNumberKey(event)"  value="" placeholder="Enter your mobile" id="mobile" autocomplete="off" name="mobile" pattern="[2-9]{1}[0-9]{9}" title="Phone number with 7-9 and remaing 9 digit with 0-9" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-3">Password</label>
                  <div class="col-md-7">
                    <input type="password" class="form-control col-md-12" rows="4"   value="" placeholder="Enter your password" id="password" autocomplete="off" name="password" required>
                  </div>
                </div>
                <div class="tile-footer">
                  <div class="row">
                    <div class="col-md-8 col-md-offset-3 col-xs-12">
                      <button class="btn btn-primary" type="submit" onclick="return isMax();"><i class="fa fa-fw fa-lg fa-check-circle"></i>Add</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="/Viewgroup"><i class="fa fa-fw fa-lg fa-check-circle"></i>Cancel</a>
                    </div>
                  </div>
                </div>
                <div class="tile-footer">
                  <div class="row">
                    <div class="col-md-8 col-md-offset-3">
                        {{#each message}}
                    {{message}}
                    {{/each}}
                    </div>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          {{#if errors}}
              {{#each errors}}
                  <div class="alert alert-danger">{{msg}}</div>
              {{/each}}
          {{/if}}

        </div>
        {{!-- *****Javascript number validation******* --}}
       <script type="text/javascript">
       function isNumberKey(evt)
       {
          var charCode = (evt.which) ? evt.which : evt.keyCode;
          if (charCode != 46 && charCode > 31 
            && (charCode < 48 || charCode > 57))
             return false;
          return true;
       }
        
        
       </script>

{{!-- javascript code for show tokenlist name with dropdown selection --}}
    
    </div>
    <script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>