   
   
  <!-- Breadcrumb-->
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Profile</a></li>
            <li class="breadcrumb-item active">Member           </li>
          </ul>
        </div>
        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="row">
              <!-- Basic Form-->
              <div class="col-lg-5">
                <div class="block">
                  <div class="title"><strong class="d-block">Member profile <a href="" style="margin-left:45%" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil-square-o fa-1x" aria-hidden="true" ></i></a></strong><span class="d-block"></span> </div>
                  <div class="block-body">
                    <div > Name: {{user.username}}</div>
                    <hr>
                     <div>Email: {{user.email}}</div>
                      <hr>
                      <div>Mobile: {{user.mobile}}</div>
                  </div>
                </div>
              </div>

  <!-- Modal Form-->
              <div class="col-lg-4">
                <div>
                  <div class="title"><strong></strong></div>
                  <div class="block-body text-center">
                       {{!-- <a  href='#' class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" style="display:none"></i>Edit</a> --}}
                    {{!-- <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" ></i></button> --}}
                    <!-- Modal-->
                    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                      <div role="document" class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Update Profile</strong>
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                          </div>
                          <div class="modal-body">
                            <p></p>
                            <form action="/updateprofile" method="POST">
                                 <div class="form-group">
                                {{!-- <label>Name</label> --}}
                                <input type="hidden" placeholder="" class="form-control" name="id" value="{{user._id}}" required>
                              </div>
                              <div class="form-group">
                                <label>Name</label>
                                <input type="text" placeholder="" class="form-control" name="username" value="{{user.username}}" required>
                              </div>
                              <div class="form-group">       
                                <label>Email</label>
                                <input type="email" placeholder="" class="form-control" name="email" value="{{user.email}}" required>
                              </div>
                               <div class="form-group">       
                                <label>Mobile</label>
                                <input type="text" placeholder="" class="form-control" name="mobile" value="{{user.mobile}}" required>
                              </div>
                              {{!-- <div class="form-group">       
                                <input type="submit" value="Signin" class="btn btn-primary">
                              </div> --}}
                           
                          </div>
                          <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                          </div>
                           </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  