
  <div class="right-box">
      <span class="search-box-div">   
               <strong>Search:</strong> 
               <input type="text" name="search" autocomplete="off"  id="myInput" onkeyup="myFunction()">
               </span>  
               <span>
                    <a class="btn btn-secondar" href="/addgroup" ><i class="fa fa fa-plus-circle" style="color:darkgrey"></i> Create Group</a>
               </span>
               </div>
  <div class="table-responsive"> 
    <table class="table table-striped table-sm" id="sampleTable" style="width:100% !important;">       
        <thead>
            <tr  style="text-align:center;">
                <th><i class="fa fa fa-plus-circle" style="color:darkgrey"></i> Add Member</th>
                <th>Group Name</th> 
                <th>Total</th>               
                <th>Create Date</th>
                {{!-- <th>MemberList</th> --}}
                <th>Action</th>
                
          </tr>
        </thead>
        <tbody  style="text-align:center;">
              {{#each data}}      
            <tr>
               <td><a href="/addnewmember/{{_id}}" style="color:royalblue">Add Member</a></td>
                <td><a href="/viewmemberlist/{{_id}}" style="color:royalblue">{{groupname}}</a></td>
                <td>{{total}}</td>               
                <td>{{createdAt}}</td>
                {{!-- <td><a href='viewmemberlist/{{_id}}'><i class="fa fa fa-group" aria-hidden="true" ></i>ViewMember</a></td> --}}
                <td><a href='editgroup/{{_id}}'><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a> <a  href='/deletegroup/{{_id}}' class="confirmation"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a></td>
            </tr>
            {{/each}}
        </tbody> 
    </table>
   </div> 
<script type="text/javascript">
    var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('Are you sure you want to delete?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }

  
//Search token details base on pair/token
function myFunction() 
{
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("sampleTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
    tr[i].style.display = "";
    } else {
    tr[i].style.display = "none";
    }
    }       
    }
    
}
</script>
